<!-- Navigation Bar from bootstrap
This HTML is setup as a fragment allowing it to be "included" by other HTML files via Jinja2
-->
<nav class="navbar navbar-expand-lg">
    <a class="navbar navbar-brand" href="https://github.com/toby-leeder/binarygames-backend" target="_blank" style="color: #09ff00; background-color: transparent;"><strong style="background-color: transparent;">{{basename}}</strong></a>
    <div class="navbar collapse navbar-collapse" id="navbarNavAltMarkup">
        <div class="navbar navbar-nav">
            <!-- url_for is a Jinja2 pre-processor that finds route from function name (def) -->
            <a class="navbar nav-link" href={{ url_for('index') }} style="color: white;">Home</a>
            <a class="navbar nav-link" href='https://backend.binarygames.tech/api/gamers' target="_blank" style="color: white;">API</a>
        </div>
    </div>
</nav>
<style>
    .navbar {
        padding: 5px;
        background-color: transparent;
        backdrop-filter: blur(250px);
        backdrop-filter: grayscale();
    }
</style>